.article-preview-container {
  --border-radius: 1rem;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  width: 725px;
  height: 280px;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: var(--border-radius);
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom left;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.preview-text-box {
  padding: 2.3rem;
  display: grid;
  background-color: white;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.preview-text-header {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--very-dark-grayish-blue);
  letter-spacing: 0.08rem;
}

.preview-text-description {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--desaturated-dark-blue);
  letter-spacing: 0.02rem;
}

.preview-text-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-text-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
}

.preview-text-author-image {
  width: 3rem;
  border-radius: 50%;
}

.preview-text-author-details {
  display: grid;
}

.preview-text-author-details p {
  margin: 0;
  font-size: 0.95rem;
}

.preview-text-author-details-name {
  letter-spacing: 0.06rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.preview-text-author-details-date {
  color: var(--grayish-blue);
}

.preview-text-social {
  position: relative;
}

.preview-text-social-tooltip {
  --tooltip-width: 19rem;
  position: absolute;
  height: 4rem;
  width: var(--tooltip-width);
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0.75rem;
  bottom: 200%;
  left: 50%;
  margin-left: calc(var(--tooltip-width) / -2);
  display: grid;
  grid-template-columns: 40% repeat(3, 10%);
  grid-gap: 1rem;
  align-items: center;
}

.preview-text-social-tooltip::after {
  content: '';
  --arrow-margin-left: 20px;
  position: absolute;
  bottom: -1.55rem;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: calc(var(--arrow-margin-left) / -1);
  border-left: var(--arrow-margin-left) solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--very-dark-grayish-blue);
}
.preview-text-social-tooltip-label {
  text-transform: uppercase;
  text-align: right;
  color: var(--grayish-blue);
  letter-spacing: 0.5rem;
}

.preview-text-social-tooltip img {
  height: 1.5rem;
}

.preview-text-social-button,
.preview-text-social-button--show {
  --button-radius: 2.3rem;
  background-color: var(--light-grayish-blue);
  height: var(--button-radius);
  width: var(--button-radius);
  border-radius: 50%;
  border: none;
}

.preview-text-social-button{
  background-color: var(--light-grayish-blue);
}
.preview-text-social-button--show {
  background-color: var(--desaturated-dark-blue);
}

.preview-text-social-button:hover,
.preview-text-social-button--show:hover {
  background-color: #dec5af;
}

.preview-text-social-button:active,
.preview-text-social-button--show:active {
  background-color: white;
}

.preview-text-social-icon {
  width: 1.15rem;
}
