@import url('https://fonts.googleapis.com/css?family=Manrope');

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: 'Manrope', serif;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

code {
  font-family: 'Manrope', serif;
}
